backports.functools-lru-cache==1.5
biopython==1.70
cycler==0.10.0
humann2==0.11.1
kiwisolver==1.0.1
matplotlib==2.2.0
numpy==1.14.2
pandas==0.22.0
pyparsing==2.2.0
python-dateutil==2.7.0
pytz==2018.3
scipy==1.0.0
six==1.11.0
subprocess32==3.2.7
